@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
  background-color: #fbfbfb;
  color: rgba(12, 12, 12, 0.7);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
}

/* .container {
  width: 1280px;
  padding: 0 65px;
  margin: 0 auto;
} */

.container {
  width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER  */

.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .header .container {
  display: flex;
} */

.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.header-nav {
}
.header-nav-list {
  display: flex;
  gap: 40px;
}
.header-nav-item {
}
.header-nav-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #0c0c0c;
  position: relative;
}

/* .current {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.current::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color:  #3350e9;
} */

.header-nav-link::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3350e9;
  opacity: 0;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: opacity 450ms ease-in-out, transform 450ms ease-in-out;
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.header-social-list {
  display: flex;
  gap: 10px;
}
.header-social-item {
  width: 36px;
  height: 36px;
}
/* .header-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
}

.header-social-link:hover,
.header-social-link:focus {
  border: 1px solid rgba(51, 80, 233, 0.1);
}

.header-social-link:hover > .header-social-icon,
.header-social-link:focus > .header-social-icon {
  fill: #3350e9;
} */

.header-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  color: #0c0c0c;
}

.header-social-icon {
  fill: currentColor;
}

.header-social-link:hover,
.header-social-link:focus {
  border: 1px solid rgba(51, 80, 233, 0.1);
  color: #3350e9;
}

